<header class="header">
  <meta name="google-site-verification" content="hYGeBDrUxqrEbiMSzoMK8p_p_-Njub7GwE33WsytCSo" />
  <h1 class="header-title"><%- title %></h1>
  <p class="header-subtitle"><%- subtitle %></p>
</header>